/* Universal */
body{
    display: flex;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

h2{
    margin: 0;
    /*font-size: 40px;*/
    text-align: center;
    width: 1200px;
}

h4{
    /*font-size: 22px;*/
    padding: 5px;
    text-align: center;
}

div{
    border: 1px solid white;
}

/* Header */
.page-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
  /*display: flex;

  position: fixed;*/
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  font-weight: bold;
  width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

.logo img {
    height: 50px;
}

nav{
    text-align: right;
}

.logo nav {
    align-items: center;
    padding: 0 40px 40px 0;
}

nav span{
    display: inline-block;
    padding: 0 20px 20px 0;
    text-decoration: underline;
}

/*Our Mission */
.content{
    /*display: flex;*/
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    padding-top: 69px;
    opacity: 0.9;
    margin: auto;
}

.mission-content{
    justify-content: center;
    margin: auto;
    background-color: black;
}

.mission-container{
    display: flex;
    flex-wrap: wrap;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    margin: auto;
    height: 700px;
    width: 1200px;
    margin-top: 0;
}

.mission-content .mission-container{
    display: flex;
    flex-wrap:wrap;
}

/* Products */
#h2-prod{
        width: 1000px;
}

#products {
    width: 1000px;
    height: 700px;
    margin: auto;
    padding-top: 50px;
}

#products{
    width: 1000px;
}
.page-container .items{
    display: flex;
    justify-content: center;
}

.item{
    padding: 5px;
}

.item img{
    flex-direction: row;
    height: 200px;
    padding: 10px;
}

.item span{
    display: block;
    padding: 5px;
    text-align: center;
}
